@using VirtualReminder.Models

@model List<Reminder>

@{
	Layout = "_Layout";

}
<script type="text/javascript">

	function ShowAddReminderMenu()
	{
		document.querySelector(".popup").style.visibility = "visible";
	}

	function CloseAddReminderMenu()
	{
		document.querySelector(".popup").style.visibility = "hidden";
	}
</script>

<div id="exercises">
	<div class="exercise">
		<img src="~/images/exercise-training.png" />
		<p>Training exercises</p>
	</div>
	<div class="exercise">
		<img src="~/images/exercise-mind.png" />
		<p>Mind exercises</p>
	</div>
	<div class="exercise">
		<img src="~/images/exercise-social.png" />
		<p>Social exercises</p>
	</div>
</div>
<div id="reminderMenu">
	<div id="reminderPosts">
		@foreach (var reminder in Model)
		{
			<div class="reminder">
				<h1 class="time">@reminder.StartTime - @reminder.EndTime</h1>
				<h1 class="title">@reminder.Title</h1>
				<p class="content">@reminder.Content</p>
				<p class="createdBy">Created by: @reminder.CreatedBy</p>
			</div>
		}
	</div>
	<div id="reminderButtons">
		<button id="addReminder" onclick="ShowAddReminderMenu()">Add Reminder</button>
		<button id="showCalendar">Show Calendar</button>
	</div>
</div>
<div class="clear" />

<div class="popup">
	<div class="addReminder">
		<button class="closeButton" onclick="CloseAddReminderMenu()">X</button>
		<div class="addReminderColumn left">
			<textarea class="addTitle">Title...</textarea>
			<textarea class="addContent">Discription...</textarea>
		</div>
		<div class="addReminderColumn right">
			<p>Choose date:</p>
			<div class="miniCalendar">

			</div>
			<textarea>Choose start time.</textarea>
			<textarea>Choose end time.</textarea>
		</div>
		<div class="clear" />
	</div>
</div>
